body{
  background-color: rgb(173, 209, 173);
}

h1 {
  background-color: honeydew;
  padding: 6px;
  margin-top: 50px;
  margin-right: 20%;
  text-align: center;
}
a {
  background-color: rgb(37, 73, 33);
  border: solid rgb(117, 163, 117);
  color: rgb(196, 236, 196);
  text-decoration: none;
  padding: 5px;
}
section {
  background-color: honeydew;
  margin-right: 40%;
  margin-bottom: 10px;
  border: solid rgb(60, 99, 60);
  padding: 4px;
}
img {
  display: flex;
}
#source {
  text-decoration: underline;
}